.flex {
    display: flex;
    display: -webkit-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-stretch: ultra-expanded;
    color: #303030;
}
button {
    border: 1px solid #91C8D3;
    border-radius: 5px;
    background-color: white;
    padding: 7px 18px;
}
button:hover {
    cursor: pointer;
    background-color: #91C8D3;
}
#matrix {
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
}
.cell {
    border-radius: 5px;
    width: 170px;
    height: 170px;
    margin: 5px;
    font-size: 10em;
    color: white;
    background-color: #91C8D3;
}


